@charset "UTF-8";

#page-wrapper {
	padding-top: 50px;
}

.navbar-inverse .navbar-brand {
	font-size: 24px;
	color: #fff;
}

#globeCanvas {
	text-align: center;
}

#slider-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.d3-slider-handle {
	height: 1.7em;
}

.water {
  fill: #00248F;
}

.path {
  fill: none;
  stroke-linejoin: round;
}

.land {
  fill: #A98B6F;
  stroke: #FFF;
  stroke-width: 0.7px;
}

.route {
  stroke: red;
  stroke-width: 2px;
}
.point {
    fill: red;
    opacity:0.7;
}

#play{
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background: url("../img/play.png");
  background-size: 40px 40px;
  background-position: center center;
  background-repeat:no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  opacity: 0.8;
}

#play.pause{
  background: url("../img/pause.png");
  background-size: 40px 40px;
  background-position: center center;
  background-repeat:no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  opacity: 0.8;
}
